<h1 class="my-4 page-title">Hello <%= @user.username %>!
  <small>Your magazines list:</small>
</h1>

<div class="row">
  <% if !@user.magazines.empty? %>
    <% @user.magazines.all.each do |mag| %>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <!-- <a href="#"><img class="card-img-top"></a> -->
          <div class="card-body">
            <h4 class="card-title">
              Name: <%= mag.name %>
            </h4>
            <ul class="card-text" style="list-style: none;">
              <li>Year/Month:  <%= mag.year %>/<%= mag.month %></li>
              <li>Cover: <%= mag.cover %></li>
              <li>Condition: <%= mag.condition %></li>
              <li>Notes: <%= mag.notes %></li>
              <li>Owner: <%= mag.user.username %></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>You don't have any magazines in your list yet.</p>
  <% end %>
  <a href="/magazines/new"><h4>Add a magazine to your list:</h4></a>
</div>
