<h1 class="my-4 page-title">Hello <%= @user.username %>!
  <small>Your magazine log:</small>
</h1>

<div class="row">
  <% if !@user.magazines.empty? %>
    <% @user.magazines.all.each do |mag| %>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">
              <%= mag.name %>
            </h4>
            <dl class="card-text">
              <dt>Year/Month:  </dt>
              <dd><%= mag.year %>/<%= mag.month %></dd>
              <dt>Cover: </dt>
              <dd><%= mag.cover %></dd>
              <dt>Condition: </dt>
              <dd><%= mag.condition %></dd>
              <dt>Notes: </dt>
              <dd><%= mag.notes %></dd>
              <dt>Owner: </dt>
              <dd><%= mag.user.username %></dd>
            </dl>
            <dl class="">
              <dt>
                <dd>
                  <% if logged_in? %>
                    <% if mag.user_id == current_user.id %>
                    <input type="button" class="btn btn-info" value="Edit" onclick="location.href = '/magazines/<%= mag.id %>/edit';">
                    <br><br>
                    <form action="/magazines/<%= mag.id %>/delete" method="post">
                      <input type="hidden" name="_method" value="delete">
                      <input type="submit" value=" Delete This Magazine">
                    </form>

                    <% end %>
                  <% end %>
                </dd>
              </dt>
            </dl>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col-lg-12">
      <p>You don't have any magazines in your list yet.</p>
    </div>
  <% end %>
  <div class="col-lg-12">
    <input type="button" class="btn btn-info" value="Add a magazine to your log" onclick="location.href = '/magazines/new';">
  </div>
</div>
